{% load static %}

<section
      class="inner-section single-banner" style="background: url(static/images/banner.jpg) no-repeat center;">
      <div class="container">
        <h2>
            {% if request.path == "/ucontactus" %}
            Contact Us
            {% elif request.path == "/uaboutus" %}
            About Us
            {% elif request.path == "/usignup" %}
            User Sign Up
            {% elif request.path == "/usignin" %}
            User Sign In
            {% elif request.path == "/uforgotpassword" %}
            User Forgot Password
            {% elif request.path == "/uproduct" %}
            Products 
            {% elif request.path == "/usubcategory" %}
            Sub Category
            {% elif request.path == "/uproductdetails" %}
            Product Details
            {% elif request.path == "/uprofile" %}
            User Profile
            {% elif request.path == "/ubooking" %}
            My Order
            {% elif request.path == "/ucart" %}
            My Cart
            {% endif %}
        </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item" style="color:white;font-size: 20px;"><b><a href="/">Home</a> &nbsp/ &nbsp</b></li>
            <li class="active" aria-current="page" style="color:white;font-size: 20px;font-weight: bold;">
                {% if request.path == "/ucontactus" %}
                Contact
                {% elif request.path == "/uaboutus" %}
                About
                {% elif request.path == "/usignup" %}
                Sign Up
                {% elif request.path == "/usignin" %}
                Sign In
                {% elif request.path == "/uforgotpassword" %}
                Forgot Password
                {% elif request.path == "/uproduct" %}
                Products
                {% elif request.path == "/usubcategory" %}
                Sub Category
                {% elif request.path == "/uproductdetails" %}
                Product Details
                {% elif request.path == "/uprofile" %}
                Profile
                {% elif request.path == "/ubooking" %}
                Order
                {% elif request.path == "/ucart" %}
                Cart
                {% endif %}
            </li>
        </ol>
    </div>
          </section>