{% load static %}

<div class="backdrop"></div>
      <a class="backtop fas fa-arrow-up" href="#"></a>
      <div class="header-top">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-lg-5">
                  <div class="header-top-welcome">
                     <p>Welcome to Rento Mojo!</p>
                  </div>
               </div>
               <div class="col-md-5 col-lg-3">
                  <div class="header-top-select">
                     <div class="header-select">
                      
                     </div>
                     <div class="header-select">
                        
                     </div>
                  </div>
               </div>
               <!--<div class="col-md-7 col-lg-4">
                  <ul class="header-top-list">
                     <li><a href="offer.html">offers</a></li>
                     <li><a href="faq.html">need help</a></li>
                     <li><a href="contact.html">contact us</a></li>
                  </ul>
               </div>-->
            </div>
         </div>
      </div>
      <header class="header-part">
         <div class="container">
             <div class="header-content">
                 <div class="header-media-group">
                     <button class="header-user">
                         <img src="static/images/user.png" alt="user">
                     </button>
                     <a href="/"><img src="static/images/logo-3.png" alt="logo"></a>
                     <button class="header-src"><i class="fas fa-search"></i></button>
                 </div>
                 <a href="/" class="header-logo"><img src="static/images/logo-3.png" alt="logo"></a>
     
                 <!-- Form for city selection -->
                 <form id="cityForm" method="POST" action="{% url 'set_city' %}">
                     {% csrf_token %}
                     <div class="header-form">
                         <select class="form-control" id="cityDropdown" name="city_id" onchange="submitCityForm();" style="cursor:pointer;">
                             <option selected disabled>Choose a City</option>
                             {% for citydata in city_data %}
                                 <option value="{{ citydata.0 }}" {% if citydata.0 == request.session.city_id %} selected="selected" {% endif %}>
                                     {{ citydata.1 }}
                                 </option>
                             {% endfor %}
                         </select>
                     </div>
                 </form>

                 <script>
                  function submitCityForm() {
                      const form = document.getElementById('cityForm');
                      form.submit();
                  }

                  {% if request.session.city_id == None %}
                  Swal.fire({
                        title: 'Please Select A City',
                        text: "You Need To Select A City Before Proceeding.",
                        confirmButtonColor: 'red',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showCloseButton: true,
                        confirmButtonText: 'OK'
                  });
               {% endif %}
              </script>
     
                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<form class="header-form">
                  <input type="text" id="searchInput" placeholder="Search anything...">
                  <button type="button" onclick="searchProduct()"><i class="fas fa-search"></i></button>
              
                 </form>
                 <div class="header-widget-group">
                  <a href="/ucart" class="header-widget header-cart" title="Cart">
                      <i class="fas fa-shopping-basket"></i>
                      <sup>{{ total_quantity|default:"00" }}</sup>
                      <span>total rent<small>₹{{ total_price|floatformat:2|default:"000.00" }}</small></span>
                  </a>
              </div>
             </div>

         </div>
     </header>
     
     <script>
      function searchProduct() {
          const productName = document.getElementById("searchInput").value;
          const url = `/uproduct?pname=${encodeURIComponent(productName)}`;
          window.location.href = url; // Redirect to the constructed URL
      }
  </script>
     
      <nav class="navbar-part">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="navbar-content">
                     {% if request.session.userid == None %}
                    <ul class="navbar-list">
                        <li class="navbar-item">
                            <a class="navbar-link" href="/">Home</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link" href="/uproduct">Products</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link" href="/usignin">Sign In</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link" href="/usignup">Sign Up</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link" href="/uaboutus">About Us</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link" href="/ucontactus">Contact Us</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="navbar-list">
                        <li class="navbar-item">
                            <a class="navbar-link" href="/">Home</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link" href="/uproduct">Products</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link" href="/uprofile">Profile</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link" href="/ucart">My Cart</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link" href="/ubooking">My Order</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link" href="/ubills">My Bills</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link" href="/upaymentlist">My Payment</a>
                        </li>
                        <li class="navbar-item">
                            <a class="navbar-link" href="#" onclick="confirmSignOut()">Sign Out</a>
                        </li>
                    </ul>
                    {% endif %}
                     <div class="navbar-info-group">
                        <div class="navbar-info">
                           <i class="icofont-ui-touch-phone"></i>
                           <p><small>call us</small><span>+(079)23241533</span></p>
                        </div>
                        <div class="navbar-info">
                           <i class="icofont-ui-email"></i>
                           <p><small>email us</small><span>ccca_bca@yahoo.com</span></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </nav>
     
      
    

   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script>
          function confirmSignOut() {
              Swal.fire({
                  title: 'Are you sure?',
                  text: "Are you sure you want to Sign Out?",
                  showCancelButton: true,
                  confirmButtonColor: '#de3326',
                  cancelButtonColor: '#119744',
                  confirmButtonText: 'Yes, sign out!',
                  cancelButtonText: 'Cancel'
              }).then((result) => {
                  if (result.isConfirmed) {
                      window.location.href = '/usignout';
                  }
              });
          }
   </script>