{% load static %}

<section class="home-index-slider slider-arrow slider-dots">
    <div class="banner-part banner-1">
       <div class="container">
          <div class="row align-items-center">
             <div class="col-md-6 col-lg-6">
                <div class="banner-content">
                   <h1>Slide into Comfort: Transform Your Space with Our Stylish Furniture</h1>
                   <p>Elevate your living experience with our curated selection of rental furniture. Whether you're looking to refresh your home or office, we offer stylish and comfortable pieces that fit your lifestyle, all without the commitment of ownership. Enjoy hassle-free delivery, flexible rental terms, and effortless upgrades.</p>
                   <div class="banner-btn"><a class="btn btn-inline" href="/uproduct"><i class="fas fa-shopping-basket"></i><span>shop now</span></a><a class="btn btn-outline" href="/uaboutus"><i class="fas fa-info-circle"></i><span>About Us</span></a></div>
                </div>
             </div>
             <div class="col-md-6 col-lg-6">
                <div class="banner-img"><img src="static/images/home/index/011.png" alt="index"></div>
             </div>
          </div>
       </div>
    </div>
    <div class="banner-part banner-2">
       <div class="container">
          <div class="row align-items-center">
             <div class="col-md-6 col-lg-6">
                <div class="banner-img"><img src="static/images/home/index/22.png" alt="index"></div>
             </div>
             <div class="col-md-6 col-lg-6">
                <div class="banner-content">
                   <h1>Upgrade Your Lifestyle: Rent Premium Electronics and Appliances with Ease!</h1>
                   <p>Experience the convenience of renting top-quality electronics and appliances without the long-term commitment. From cutting-edge gadgets to essential home appliances, we offer flexible rental options tailored to your needs. Enjoy hassle-free delivery, setup, and support—making it easier than ever to elevate your lifestyle.</p>
                   <div class="banner-btn"><a class="btn btn-inline" href="/uproduct"><i class="fas fa-shopping-basket"></i><span>shop now</span></a><a class="btn btn-outline" href="/uaboutus"><i class="fas fa-info-circle"></i><span>About Us</span></a></div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>