<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    {% include 'head.html' %}
</head>

<body>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">
        {% include 'header.html' %}
    </div>
    <!-- topbar ends -->
<div class="ch-container">
    <div class="row">
        
        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            {% include 'leftbar.html' %}
                    </div>
        <!--/span-->
        <!-- left menu ends -->

      

<div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
    <div>
    <ul class="breadcrumb">
        <li>
            <a href="/admin">Home</a>
        </li>
        <li>
            <a href="#">Discontinue Rental</a>
        </li>
    </ul>
</div>

<!--start-->

<script type="text/javascript">

    function sprint() {
        var divToPrint = document.getElementById('datatable');
        var htmlToPrint = '<style type="text/css"> table,table th, table td { border:1px solid #000; border-collapse: collapse; } </style>';
        htmlToPrint += divToPrint.outerHTML;
        newWin = window.open("");
        newWin.document.write(htmlToPrint);
        newWin.print();
        newWin.close();
        //newWin.window.print();
    }
    </script>




<!--end-->
{% if msg != "" %}
<div class="alert alert-info">No data is found.</div>
<script type="text/javascript">
    window.alert('{{msg}}');
   </script>
{% endif %}
<!--end-->
<div class="row">
    <div class="box col-md-12">
    <div class="box-inner">
    <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-user"></i> View Discontinue Rental Details </h2>
        <form role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
         <div style="float: right;">  
        <button type="submit" class="btn btn-primary btn-xs">Generate</button>
        <button type="submit" class="btn btn-primary btn-xs" onclick="sprint('datatable')">Print</button></div>
    </form>
    </div>

    <div class="box-content" style="overflow-x:auto;" >
    
    <table id="datatable" class="table table-striped table-bordered bootstrap-datatable datatable responsive">
    <thead>
        <tr>
        <th>ID</th>
        <th>User</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Rent</th>
        <th>Total</th>
        <th>Deposite</th>
        <th>Shipping Address</th>
        <th>Pincode</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Duration</th>
        <th>Duration Status</th>
        <th>Status</th>
        <th>Created Date</th>
        <th>Updated Date</th>
       
        </tr>
        </thead>
        <tbody>
            {% for row in booking_data %}
        <tr>
            <td>{{ forloop.counter }}</td>
        <td class="center">{{row.17}}</br><span class="label-info label label-default">{{row.18}}</span></td>
        <td class="center">{{row.29}}</td>
        <td class="center">{{row.5}}</td>
        <td class="center">₹ {{row.6}}</td>
        <td class="center">₹ {{row.7}}</td>
        <td class="center">₹ {{row.15}}</td>
        <td class="center">{{row.3}}</td>
        <td class="center">{{row.4}}</td>
        <td class="center">{{row.8|date:'Y-m-d'}}</td>
        <td class="center">{{row.9|date:'Y-m-d'}}</td>
        <td class="center">{{row.10}}</td>
        <td class="center">
            {% if row.11 == 'Active' %}
            <span class="label-success label label-default">{{row.11}}</span>
            {% else %}
            <span class="label-danger label label-default">{{row.11}}</span>
            {% endif %}
        </td>
        <td class="center">
            <span class="label-{% if row.12 == 'Complete' %}success{% else %}danger {% endif %} label label-default">{{row.12}}</span>
        
        </td>
        <td class="center">{{row.13|date:'Y-m-d H:i:s'}}</td>
        <td class="center">{{row.14|date:'Y-m-d H:i:s'}}</td>
    
        
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>
    <!--/span-->

    </div><!--/row-->



   <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->

    
    <hr>

    
    <footer class="row">
        {% include 'footer.html' %}
        </footer>

</div><!--/.fluid-container-->

<!-- external javascript -->
{% include 'script.html' %}

</body>
</html>